* {
    line-height: 1.1;
}

body {
    margin-left: 3%;
    margin-right: 3%;
}

table {
    padding: 0;
    border-spacing: 0;
    table-layout: fixed;
}

a {
    text-decoration: none;
}

sup {
    vertical-align: 0;
    position: relative;
    bottom: 1ex;
}

sub {
    vertical-align: 0;
    position: relative;
    top: 0.8ex;
}

.tab {
    text-indent: 20px;
}

.indent {
    margin-left: 20px;
}

.headbox {
    border: groove;
    border-width: 2px;
    background: #f0f0e0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5px;
}

.headbox p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.headbox h1 {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

.headbox h2 {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

p.squat {
    margin-top: 0.25em;
    margin-bottom: 0.15em;
}

ul.squat {
    margin-top: 0.25em;
    margin-bottom: 0.15em;
}

h2.squat {
    margin-top: 0.4em;
    margin-bottom: 0.25em;
}

h3.squat {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

h4.squat {
    margin-top: 0.2em;
    margin-bottom: 0.15em;
}

h5.squat {
    margin-top: 0.17em;
    margin-bottom: 0.15em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    max-width: 1025px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 500px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    max-width: 500px;
}