/* General styles */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-image: url(./assets/images/bg.gif);
    margin: 0 auto;
    max-width: 50em;
}

ul {
    list-style-image: url(./assets/images/redball.gif);
}

a {
    color: #b60032;
}

a:hover {
    color: #505050;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    color: #b60032;
}

/* Button styles */

.normalize {
    background: none;
    padding: 0;
    border: 0;
}

/* Nested counter styles */

ul.count,
ol.count {
    counter-reset: item;
}

.count li {
    display: block;
}

.count li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}