body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("images/backgrounds/bg.png");
    background-attachment: fixed;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'IBM VGA 8x16';
	font-size: 16px;
	letter-spacing: 0px;
	font-kerning: none;
	line-height: 16px;
	height: 100%;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
}

#clockbox {
    padding-right: 17px;
	position: absolute;
	right: 0;
	top: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #00AAAA;
    padding-left: 17px;
    color: #0000AA;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 16px;
}

#body {
    padding: 0px;
    padding-bottom: 60px;
    display: inline-block;
}

#footer {
    width: 100%;
    background-color: #00AAAA;
	padding-left: 17px;
	color: #0000AA;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
    height: 16px;
}

.boxed {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-image: url("images/backgrounds/bd.png") 33% repeat;
}

.tvBox {
    font-family: 'IBM VGA 8x16';
    box-shadow: 16px 16px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    margin-bottom: 2em;
    margin-top: 32px;
    margin-right: 16px;
    margin-left: 16px;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-weight: normal;
    font: inherit;
    vertical-align: baseline;
}

#body h2 {
    display: inline-flex;
    color: #ffffff;
    margin-top: -24px;
    background-color: inherit;
}

#body h2::before {
    width: 16px;
    height: 16px;
    background-image: url("images/backgrounds/bd1.png");
    content: "";   
}

#body h2::after {
    width: 16px;
    height: 16px;
    background-image: url("images/backgrounds/bd2.png");
    content: "";   
}

.boxed > h2:first-of-type {
    position: absolute;
}
